* {
  box-sizing: border-box;
}

html {
  font-family: $font-family-sans-serif;
  letter-spacing: 0.6px;
  line-height: 1em;
}

body {
  margin: 0 auto;
  font-size: 1rem;
  text-align: justify;
  color: $hhcii-black;
}

h1 {
  margin: 15px 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: $hhcii-black;
  line-height: 2rem;
}

h2 {
  margin: 25px 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  color: $hhcii-black;
  line-height: 2rem;
}

/* Cabecera */
header {
  margin-top: 10px;
  width: 100%;
  margin-bottom: 3rem;
  background-color: $hhcii-white;
  color: $hhcii-black;
  text-align: left;
  overflow: hidden;
}

header div {
  display: block;
  text-align: center;
}

.logo {
  background-image: url('../images/logo_Zahara.png');
  background-repeat: no-repeat;
  background-size: 250px;
  width: 400px;
  height: 160px;
  display: inline-block;
}

main {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 3rem;
}

#prev,
#next {
  margin-top: 20px;
}

.footer-text-small p {
  font-size: 0.55rem;
  margin: 0;
  font-weight: 400;
}

/* Detalles */
.cont {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cont>section {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.cont figure {
  margin: 0;
  width: 100%;
}

.cont figure img {
  width: 100%;
  height: auto;
}

.block__title-red {
  color: $hhcii-red;
  text-align: left;
  margin: 0;
}

.block__title {
  width: 100%;
}

.block__title p {
  font-weight: 600;
}

.block__detail {
  width: 100%;
}

.block__detail>p{
  margin-top: 0;
}

/* Pié de página */
footer {
  padding: 2rem 0;
  width: 100%;
  background-color: $hhcii-black;
  color: $hhcii-white;
  text-align: center;
}

/* TABLET */
@media screen and (min-width: $tabletMinWidth) {

  html {
    letter-spacing: 0.7px;
    line-height: 1.3rem;
  }

  h1 {
    margin: 30px 0;
    font-size: 2.5em;
  }

  main {
    padding-left: 10%;
    padding-right: 10%;
  }

  figure {
    margin: 20px 0;
  }

  .cont>section {
    flex-direction: row;
  }

  .block__title,
  .cont>section>figure {
    width: 25%;
  }

  .block__detail {
    width: 50%;
    margin-left: 1rem;
  }

}

/* PC */
@media screen and (min-width: $pcMinWidth) {

  header div {
    float: left;
  }

  header {
    margin: 1rem auto;
    max-width: 80%;
  }

  main {
    width: 80%;
  }

}